.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.nyc_output/**
.husky/**
elm-stuff/**
tests/**
img/logos/other/**
node_modules/**
.*

Makefile*
azure-pipelines.yml
elm.json
esbuild.js
esbuild-web.js

# Include dist/web for web extension
!dist/web/**/*.js